.header {
    max-width: 288vh;
    height: 42px;
    padding: 16px 0px 48px 0px;
    margin: 0px 16px;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (min-width: 767px) {
    .header {
      max-width: 720vh;
      height: 52px;
      padding: 28px 0px 48px 0px;
      margin: 0px 24px;
    }
  }
  
  @media screen and (min-width: 1023px) {
    .header {
      max-width: 928vh;
      margin: 0px 48px;
    }
  }
  
  @media screen and (min-width: 1279px) {
    .header {
     max-width: 1184px;
    }
  }