.cover__img {
    position: absolute;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 62.5vw;
    max-height: 740px;
    width: 100%;
    opacity: 30%;
}

.cover__img:hover {
    opacity: 20%;
}
  
@media screen and (min-width: 1280px) {
    .cover__img {
        background-size: 92.5%;
    }
} 