.lead__subtitle {
  color: #FFFFFF;
  width: 288px;
  margin: 16px auto 40px auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .lead__subtitle {
    width: 640px;
    margin: 32px auto 56px auto;
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {    
    margin-bottom: 64px;    
  }
}