.place__url {
    margin: 0;
    margin-bottom: 32px;
    padding: 0 16px;
  }

  @media screen and (min-width: 768px) {
  .place__url {
    flex: 53%;
    margin-bottom: 48px;
    align-self: flex-end;
    padding: 0;
  }
}